@using CD_Jenkins.Web;

@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Jenkins, Git, and Visual Studio 
                <br />
                <b>Continuous Integration Demo</b>
            </p>
        </div>
    </section>
}
<h2>Current Environment: @System.Web.Configuration.WebConfigurationManager.AppSettings["HostingEnvironment"]</h2>

<p>
    Please do not deploy this to production - we are still in revision mode!!
</p>

<h4>Version: @typeof(CD_Jenkins.Web.MvcApplication).Assembly.GetName().Version</h4>